* {
    margin: 0;
    padding: 0;
}
 
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.top {
    width: 1440px;
    height: 1024px;
}

.header {
    background-image: url("img/logo-games.jpg");
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-top: 217px;
        margin-left: 120px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: block;
        align-items: center;
        color: #FFFFFF;
        margin-top: 32px;
        margin-left: 120px;
    }

    &__click {
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        margin-top: 44px;
        margin-left: 120px;
        margin-bottom: 493px;
        &:hover {
            background: #EB443F;
        }
    }
}

.games {
    background-image: url("img/bg-games.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    gap: 32px;
    padding-top: 128px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 128px;

    &__game1 {
        background-image: url("img/game1.jpg");
        width: 379px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            border: 3px solid #44D2FF;
            border-radius: 16px;
        }
    }

    &__game2 {
        background-image: url("img/game2.jpg");
        width: 379px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            border: 3px solid #44D2FF;
            border-radius: 16px;
        }
    }

    &__game3 {
        background-image: url("img/game3.jpg");
        width: 379px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            border: 3px solid #44D2FF;
            border-radius: 16px;
        }
    }

}

.seasons-year {
    background-image: url("img/bg-year.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 135px;
    padding-top: 233px;
}

.year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    &__time {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-left: 120px;
    }

    &__time-text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-left: 120px;
        width: 584px;
    }

    &__button {
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        margin-left: 120px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        justify-content: center;
        &:hover {
            background: #EB443F;
        }
    }
}

.logo-game {
    background-image: url("img/bg-game.png");
    height: 333px;
    background-repeat: no-repeat;
    padding-top: 233px;
    margin-right: 116px;
}

.seasons-words {
    background-image: url("img/bg-year.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 135px;
    padding-top: 233px;
}

.logo-game-words {
    background-image: url("img/bg-game-words.png");
    height: 322px;
    background-repeat: no-repeat;
    padding-top: 239px;
    margin-bottom: 239px;
    margin-left: 120px;
}

.words{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    &__remember {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    &__remember-text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        width: 584px;
    }

    &__button {
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        justify-content: center;
        &:hover {
            background: #EB443F;
        }
    }
}



@import 'mobile';